

<section class="vh-100" style="background-color: #c2b2b2;">
  {{#if admin}}
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
           
            <div class="col-md-6 col-lg-5 d-none d-md-block">
             
              <img src="https://m.media-amazon.com/images/I/81ZxlfuEy-L._AC_UL1500_.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">


                <form action="/admin/admin-signup" method="post">

              

                  <h5 class="fw-normal mb-3 pb-4" style="letter-spacing: 1px;">Create new admin  account</h5>

                   <div class="form-outline mb-4">
                    <input type="text" id="Name" class="form-control form-control-lg" name="Name" placeholder="Enter your name" />
                    <label class="form-label" for="Name">Name</label>
                  </div>

                

                  <div class="form-outline mb-4">
                    <input type="Email" id="Email" class="form-control form-control-lg" name="Email" placeholder="Enter your email" />
                    <label class="form-label" for="Email">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="Password" id="Password" class="form-control form-control-lg" name="Password" placeholder="Enter your password" />
                    <label class="form-label" for="Password">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="submit">SIGNUP</button>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a href="/admin-login"
                      style="color: #393f81;">Login here</a></p>
                </form>
                

              </div>
            
            </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</section>